{% extends 'base.html' %}
{% block body %}
<style>
body {
  background-image: url('alo');
  background-repeat: no-repeat;
  background-size: cover;
      text-align: left;
      margin: 0;
      line-height: 1.6; 
      background-color: #fff;
      color: #000;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
      color: #fff;
      background-color: #333;
      padding: 10px;
      font-family: "Arial Black", Arial, sans-serif;
      font-weight: bold;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
      color: #333;
      background-color: #f8f8f8;
      font-family: "Trebuchet MS", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
      font-weight: bold;
      padding: 20px;
    }

    p {
      margin-bottom: 15px;
      color: #333;
      padding-left: 80px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      padding-left: 80px;
    }

    footer {
      margin-top: 50px;
      text-align: center;
      font-size: 14px;
      color: #888;
    }

  </style>
  <main>
    <section>
      <h2>About Us</h2>
      <p>Welcome to Health Connect, a comprehensive web application designed to streamline and enhance hospital management operations.</p>
      <p>Our user-friendly platform empowers healthcare providers and administrative staff to efficiently handle patients, receptionist tasks, doctor management, and administrative functions.</p>
    </section>

    <section>
      <h2>Our Mission</h2>
      <p>At Health Connect, our mission is to revolutionize healthcare management by delivering innovative and intuitive solutions that optimize patient care and organizational effectiveness.</p>
    </section>

    <section>
      <h2>Why Choose Health Connect</h2>
      <ul>
        <li>Efficient patient handling</li>
        <li>Streamlined receptionist tasks</li>
        <li>Effective doctor and staff management</li>
        <li>Comprehensive administrative functions</li>
      </ul>
    </section>

    <section>
      <h2>Contact Us</h2>
      <p>For any inquiries or further information, please don't hesitate to contact us:</p>
      <p>Email: info@HealthConnect.com</p>
      <p>Phone: +1 123-456-7890</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Health Connect. All rights reserved.</p>
  </footer>

{% endblock body %}